.layout{
    display: flex;
    justify-content:space-between;
    background-color: rgb(231, 94, 117);
    align-items: center;
    width: 50%;
    margin-left: 350px;
    margin-top: 100px;
}
.profile{
    width:150px;
}

.repobutton{
    width:100px;
    height:50px;
    margin-right: 10px;
    align-items: flex-end;
    align-content: flex-end;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: center;
  }


@media only screen and (max-width:700px){
    div.layout{
        width:150%;
        margin-left: 0px;
        margin-top: 50px;
    }
    img.profile{
        width: 100px;
    }
}