.title {
   text-align: center;
   margin-top: 150px;
}

.form{
    display: block;
    margin: 10px 50px 50px 550px;
}

.login{
    background-color: green;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 50px;
}

.label{
    margin-top:20px;
}

@media only screen and (max-width:600px){
    div.form{
        display: block;
        margin:10px 50px 50px 90px
    }
}