.layout{
    margin-left: 350px;
    margin-top: 100px;
}
.profile{
    width:150px;
}

.repobutton{
    width:100px;
    height:50px;
    align-items: flex-end;
    align-content: flex-end;
}

.nameLayout{
    display: flex;
    justify-content: center;
    width:720px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: pink;
}


.buttonLayout{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 370px;
    margin-right: 420px;
    display: flex;
    justify-content: space-between;
 }


@media only screen and (max-width:700px){
    div.layout{
        width:150%;
        margin-left: 10px;
        margin-top: 50px;
    }
    img.profile{
        width: 100px;
    }
}