.layout{
    margin-left: 350px;
    margin-top: 100px;
}
.profile{
    width:150px;
}

.repobutton{
    width:100px;
    height:50px;
    align-items: flex-end;
    align-content: flex-end;
}

.nameLayout{
    display: flex;
    justify-content: center;
    width:600px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: pink;
}


.buttonLayout{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 350px;
    display: flex;
    justify-content: space-between;
 }


@media only screen and (max-width:700px){
    div.layout{
        width:100%;
        margin-left: 10px;
        margin-top: 50px;
    }
    img.profile{
        width: 100px;
    }
    .nameLayout{
        display: flex;
        justify-content: center;
        width:500px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: pink;
    }
    .buttonLayout{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: px;
        display: flex;
        width: 500px;
        justify-content: space-between;
     }
}